body {
  /* min-height: 100vh;
  display: grid;
  place-items: center; */
  font-family: 'Bai Jamjuree', sans-serif;
}
header{
  background-image: url(images/bg-header-desktop.png);
background-repeat: no-repeat;
}
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.computer{
  filter: drop-shadow(0.40em 0.40em 0.4em  hsl(180, 53%, 20%));
}